{% extends "layout.html" %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}

<div class="container m-5">

  <h3>Perguntas frequentes (retiradas de grupos e afins) sobre diárias</h3>

  <p>
    A <a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Portaria 35</a> é o documento
    mestre para se basear quando o assunto é diárias.
    Seguem aqui algumas respostas baseadas nessa portaria.
  </p>


  <h4 id="1">O valor das diárias é limitado pela minha reserva técnica? Há algum outro limite?</h4>


  <p> Infelizmente o valor que você pode pedir é limitado pela sua reserva técnica.</p>
  <p> O valor que pode ser <i>solicitado</i> é o valor que tem em caixa. Caso ultrapasse esse valor, você pode pagar do
    seu bolso e pedir reembolso no ano seguinte (caso o valor liberado no ano seguinte cubra). </p>
  <p> Vocẽ tem um valor de reserva técnica que é liberado no início de cada ano de bolsa. Por exemplo, um doutorando
    regular tem, liberado, aproximadamente 10.000 reais por ano.

    Re restarem 2000 reais e você precise solicitar 3.000 reais em diárias, por exemplo, vocẽ pode pegar 2.000
    reais desse ciclo, pagar 1.000 reais de verba própria e pedir reembolso no próximo ciclo da sua bolsa, caso haja.
  </p>

  <p> Além disso, o valor das diárias para um evento não podem exceder o seu valor de manutenção mensal. Para mais
    detalhes, veja o <a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Artigo 5 da
      Portaria 35</a>.</p>


  <h4 id="2">Vou ficar mais tempo que a duração do congresso em si, posso fazer isso? E posso solicitar mais diárias.
  </h4>


  <p> As regras não são super claras, mas se você chegar uns dias antes e sair uns dias depois, dificilmente terá
    problemas com a FAPESP.</p>
  <p>Dois limitantes duros são:</p>
  <ul>
    <li> Vocẽ precisa viajar dentro do prazo da sua bolsa, voltando antes da data final. </li>
    <li> O tempo de duração da viagem tem que ser menor que 30 dias. </li>
  </ul>

  <p </div> {% endblock %}