{% extends "layout.html" %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}

<div class="container">

  Calcule o valor diárias da FAPESP para eventos, e gere automaticamente o documento com as especificações!

  <p>Em construção e testes, padrão para o Natal Bioinformatics Forum.</p>

  Se não for ao Natal Bioinformatics Forum, de qualquer forma fica aqui o modelo de passagens:

  <a href="{{ url_for('download', filename="modelo_6_template.docx") }}">Modelo</a>


</div>
{% endblock %}