{% extends "layout.html" %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}


<div class="container">
  {% if submitted %}

  <h1>Note: a calculadora abaixo não considera o limite que a FAPESP impõe por categoria. As diárias para um evento não
    podem exceder a bolsa mensal!</h1>
  <p> Para mais detalhes, veja o <a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado"
      target="_blank">Artigo 5 da
      Portaria 35</a>.</p>
  <h2> Resultado:</h2>
  <ul>
    <li><strong>País:</strong> {{country}}</li>
    <li><strong>Local:</strong> {{location}}</li>
    <li><strong>Diária:</strong> {{daily_stipend}}</li>
  </ul>
  {{message_to_send | safe}}

  <p> Recibo de diárias semi-preenchido:
    <a href='{{ url_for('download', filename="modelo_preenchido.docx") }}'>Recibo preenchido (faltando assinatura)</a>
  </p>
  {% endif %}

  {{download_url|safe}}

  <h2>Formulário</h2>
  <form method="POST">

    <div>
      {{ form.csrf_token }}
      {{ form.event_start_date.label }} {{ form.event_start_date(size=20) }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.event_end_date.label }} {{ form.event_end_date(size=20) }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.plus_day.label }} {{ form.plus_day(size=20) }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.country.label }} {{ form.country }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.location.label }} {{ form.location}}
    </div>
    <input type="submit" value="Calcular">
  </form>
  <script>
    let country_select = document.getElementById("country");
    let location_select = document.getElementById("location");

    country_select.onchange = function () {
      country = country_select.value;
      fetch("/location/" + country).then(function (response) {
        response.json().then(function (data) {
          let optionHTML = "";
          for (let location of data.locations) {
            optionHTML += '<option value="' + location.name + '">' + location.name + "</option>";
          }
          location_select.innerHTML = optionHTML;
        });

      });
    };
  </script>

</div>

{% endblock %}