{% extends "layout.html" %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}


<div class="container">


  {% if submitted %}

  <h2> Resultado:</h2>
  <ul>
    <li><strong>País:</strong> {{country}}</li>
    <li><strong>Local:</strong> {{location}}</li>
    <li><strong>Diária:</strong> {{daily_stipend}}</li>

  </ul>

  {{message_to_send | safe}}

  <p> Recibo de diárias semi-preenchido:


    <a href='{{ url_for('download', filename="modelo_preenchido.docx") }}'>Recibo preenchido (faltando assinatura)</a>
  </p>
  {% endif %}
  {{download_url|safe}}
  <h2>Formulário</h2>
  <form method="POST">

    {% for entry in form %}
    <div>
      {{ form.csrf_token }}
      {{ entry.label }} {{ entry(size=20) }}
    </div>
    {% endfor %}

    <input type="submit" value="Calcular">
  </form>
  <script>
    let country_select = document.getElementById("country");
    let location_select = document.getElementById("location");

    country_select.onchange = function () {
      country = country_select.value;
      fetch("/location/" + country).then(function (response) {
        response.json().then(function (data) {
          let optionHTML = "";
          for (let location of data.locations) {
            optionHTML += '<option value="' + location.name + '">' + location.name + "</option>";
          }
          location_select.innerHTML = optionHTML;
        });

      });
    };
  </script>

</div>

{% endblock %}