{% extends "layout.html" %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}


<div class="container">


  {% if submitted %}

  <h2> Resultado:</h2>
  {{message_to_send | safe}}

  <p> Recibo de diárias semi-preenchido:


    <a href='{{ url_for('download', filename="modelo_preenchido.docx") }}'>Recibo preenchido (faltando assinatura)</a>
  </p>
  {% endif %}
  {{download_url|safe}}
  <h2>Formulário</h2>
  <form method="POST">



    <div>
      {{ form.csrf_token }}
      {{ form.event_start_date.label }} {{ form.event_start_date(size=20) }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.event_end_date.label }} {{ form.event_end_date(size=20) }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.plus_day.label }} {{ form.plus_day(size=20) }}
    </div>
    <div>
      {{ form.csrf_token }}
      {{ form.level.label }} {{ form.level }}
    </div>

    <input type="submit" value="Calcular">
    <h4> Site em construção; sistema funcionando somente para capitais de Estado, Angra dos Reis (RJ), Brasília (DF),
      Búzios (RJ) e Guarujá (SP) </h4>
  </form>


</div>
{% endblock %}