{% extends "layout.html" %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}

<div class="container m-5">

  <h3>Perguntas frequentes (retiradas de grupos e afins) sobre diárias</h3>

  <p>
    A <a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Portaria 35</a> é o documento
    mestre para se basear quando o assunto é diárias.
    Seguem aqui algumas respostas baseadas nessa portaria.
  </p>


  <h4 id="0">Como eu presto conta de meus gastos incluídos nas diárias?</h4>

  <p> A FAPESP dá duas opções: uma é guardar todas as notas, outra é dar um recibo no valor do número de diárias do
    evento.

    Com o recibo, <strong>você só precisa comprovar que participou do evento.</strong> Ou seja, um certificado ou outro
    comprovante de participação e as passagens. </p>

  <p> A segunda opção, do recibo, é <i> muito</i> mais simples, então é melhor optar por ela.

    Nas normas de uso da Reserva Técnica, isso é citado no <a href="https://fapesp.br/rt" target="_blank">item 3.3.3 a
    </a> da norma sobre Prestação de Contas e Uso de Recursos:
  </p>
  <p><i>3.3.3. As despesas com diárias no país, diárias no exterior e manutenção mensal no exterior devem ser
      comprovadas
      da seguinte forma:
      a) Utilizadas pelo Outorgado: apresentar o Recibo de Diárias/Manutenção para o Outorgado (Modelo 3),
      <strong>ou</strong> apresentar os comprovantes fiscais de hospedagem, alimentação e transporte urbano.</i>
  </p>

  <h4 id="1">O valor das diárias é limitado pela minha reserva técnica? Há algum outro limite?</h4>


  <p> Infelizmente o valor que você pode pedir é limitado pela sua reserva técnica.</p>

  <p> Além disso, para viagens <strong>nacionais</strong> o valor das diárias para um evento não podem exceder o seu
    valor de manutenção mensal. Para mais
    detalhes, veja o <a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Artigo 5 da
      Portaria 35</a>.</p>
  <p>Para viagens ao exterior, bolsistas podem solicitar até 7 diárias, e pesquisadores até 10 (ver <a
      href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Art. 6</a>).</p>

  <p> O valor que pode ser <i>solicitado</i> é o valor que tem em caixa. Caso ultrapasse esse valor, você pode pagar do
    seu bolso e pedir reembolso no ano seguinte (caso o valor liberado no ano seguinte cubra). </p>
  <p> Vocẽ tem um valor de reserva técnica que é liberado no início de cada ano de bolsa. Por exemplo, um doutorando
    regular tem, liberado, aproximadamente 10.000 reais por ano.

    Se restaram 2.000 reais e você precise solicitar 3.000 reais em diárias, por exemplo, vocẽ pode pegar 2.000
    reais desse ciclo, pagar 1.000 reais de verba própria e pedir reembolso no próximo ciclo da sua bolsa, caso haja.
  </p>
  <h5 id="1.1">E como faz a prestação de contas quando o valor é dividido entre prestações?</h5>

  <p>Sinceramente, não sei. Estou acompanhando um fio sobre o tema no <a
      href="https://www.facebook.com/groups/176412745774878/posts/5928346257248136/" target="_blank">Facebook</a>,
    talvez apareça alguém com exemplo. </p>


  <h4 id="2">Vou ficar mais tempo que a duração do congresso em si. Tudo bem fazer isso?
  </h4>

  <p> As regras não são super claras, mas se você chegar uns dias antes e sair uns dias depois, dificilmente terá
    problemas com a FAPESP.</p>
  <p>Três limitantes duros são:</p>
  <ul>
    <li> Vocẽ precisa viajar dentro do prazo da sua bolsa, voltando antes da data final. </li>
    <li> O tempo de duração da viagem tem que ser menor que 30 dias. </li>
    <li>Para viagens ao exterior, bolsistas podem solicitar até 7 diárias, e pesquisadores até 10 (ver <a
        href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Art. 6</a>).</li>
  </ul>
  <p> Ou seja, pode até ficar mais tempo que <i>provavelmente</i> será tranquilo, só não pode pedir mais que X+1 diárias
    (ver abaixo). </p>

  <h4 id="3">Meu evento tem X dias. Quantas diárias eu posso solicitar?</h4>
  <p> De forma geral, para eventos que começam de manhã e terminam de tarde, caso você chegue no dia anterior e saia no
    dia seguinte, você pode pedir X+1 diárias com pernoite. </p>

  <h4 id="4">Posso pedir diárias de pernoite e diárias de alimentação junto?</h4>

  <p>Não, cada diária é separada. A diária de alimentação vale para eventos no município da Instituição Sede, mas em
    endereço distinto. (<a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado" target="_blank">Portaria 35,
      Art. 2, Definição VI</a>)

  </p>
  <h4 id="5">Posso pedir menos diárias do que precisaria para o evento completo? Por exemplo 2 diárias em um evento de
    5?</h4>

  <p>Sim, você pode solicitar menos, caso não tenha reserva suficiente ou queira pedir menos por qualquer outro motivo.
    Eu mesmo já fiz isso. No grupo do Facebook, há outras pessoas que <a
      href="https://www.facebook.com/groups/176412745774878/posts/2474629485953181/" target="_blank">fizeram isso
      também.</a></p>


  <h4 id="6">Com que antecedência do evento posso pedir minhas diárias? Posso pedir depois do evento?</h4>

  <p>Não há uma resposta definitiva, então é recomendável bom senso, e uma certa proximidade com o evento. Eu
    particularmente solicito um pouco antes dos
    eventos, umas 2-3 semanas. Já pedi uns dias depois de voltar do evento também, sem problemas. </p>

  <h4 id="7">Eu solicito a verba da passagem, inscrição, e diária tudo junto no sistema?</h4>

  <p>Também não há uma regra, é um pouco questão de "estilo". Eu gosto de solicitar cada coisa em separado, acho que
    fica mais claro na prestação de contas.
    E fica mais fácil de resolver problemas depois, pois os valores estão discriminados.</p>

</div> {% endblock %}