{% extends "layout.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block title %}
Calculadora de Diárias para FAPESP
{% endblock %}

{% block main %}


<div class="container">


  {% if submitted %}
  <h1>Olá, {{ current_user.username }}!</h1>
  <div class="alert alert-danger" role="alert">
    Note: a calculadora não considera o limite que a FAPESP impõe por categoria. As diárias para um evento nacional
    não
    podem exceder a bolsa mensal!
    <p> Para mais detalhes, veja o <a href="https://fapesp.br/14018/portaria-pr-no-35-texto-compilado"
        target="_blank">Artigo 5 da
        Portaria 35</a>.
  </div>

  </p>

  <h2> Resultado:</h2>
  {{message_to_send | safe}}

  <p> Recibo de diárias semi-preenchido:

    <a href='{{ url_for('download', filename="modelo_preenchido.docx") }}'>Recibo preenchido (faltando assinatura)</a>
  </p>
  {% endif %}
  {{download_url|safe}}
  <h2>Formulário</h2>
  <form action="" method="post">
    <div class="row">
      <div class="col-md-4">
        {{ wtf.render_form(form) }}
      </div>
    </div>
  </form>
  <div class="alert alert-warning" role="alert">Site em construção; Para pós-docs e além, só considerando "Com pernoite
    em: todas as capitais de estado, Brasília
    (DF), Araçatuba (SP), Araraquara (SP), Barretos (SP), Bauru (SP), Campinas (SP), Franca (SP), Itapeva (SP), Marília
    (SP), Presidente Prudente (SP), Registro (SP), Ribeirão Preto (SP), Santos (SP), São José do Rio Preto (SP), São
    José dos Campos (SP) e Sorocaba (SP))" </div>


</div>
{% endblock %}